dist
bin/*
!bin/.gitkeep
res/fonts/*
!res/fonts/.gitkeep

!bin/arm64/gptokeyb2
!bin/arm64/set_ra_cfg.sh
!bin/arm64/pngwrite
!bin/arm64/pngwrite.LICENSE
!bin/tg5040/handle-power-button
!bin/tg5040/handle-menu-button
!bin/arm64/launch-mupen64plus
